stages:
- dependencies
- pre-scripts
# - test
- build_apk
- deploy_appetize


install_dependencies:
    stage: dependencies
    image: node:8.17.0

    script:
    # - cat $CI_JOB_URL
    - npm install
    
    artifacts:
        paths:
        - node_modules/

        
run_pre-scripts :
    stage: pre-scripts
    image: node:8.17.0
    
    dependencies:
    - install_dependencies
    
    script:
    - apt-get update
    - apt-get install -y gettext-base
    
    - mv app/config/keys.sample.js app/config/keys.js
        
    - 'touch ./android/app/google-services.json && echo $GOOGLE_SERVICES > ./android/app/google-services.json'
    
    - chmod +x ./scripts/fixes.sh
    - ./scripts/fixes.sh
    
    - chmod +x ./scripts/set_keys.sh
    - ./scripts/set_keys.sh
    
    - rm -rf android/app/build
    
    artifacts:
        paths:
        - android/
        - app/
        - node_modules/
        
# unit_test:
#     stage: test
    
#     dependencies:
#     - run_pre-scripts
    
#     script:
#     - npm test 

build_job:
    stage: build_apk
    image: reactnativecommunity/react-native-android
    
    dependencies:
    - run_pre-scripts

    script:
    - cd android && ./gradlew assembleDebug --stacktrace
    - mv ./app/build/outputs/apk/debug/app-debug.apk ../app-debug.apk
    - 'cd .. && touch req.json && echo {\"url\":\"$CI_JOB_URL/artifacts/raw/app-debug.apk\",\"platform\": \"android\" } > req.json'

    artifacts:
        paths:
        - app-debug.apk
        - req.json

deploy_appetize_job:
    stage: deploy_appetize
    
    dependencies:
    - build_job
    
    script:
    - 'curl -s -X POST -H "Content-Type: application/json" -d @req.json https://$APPETIZE_API@api.appetize.io/v1/apps/$APPETIZE_KEY > response.json'
    